@font-face {
  font-family: BebabsNeue;
  src: url("../assets/_fonts/bebasneue-webfont.woff"); }

@font-face {
  font-family: BebabsNeueRegular;
  src: url("../assets/_fonts/bebasneue-regular.ttf"); }

@font-face {
  font-family: RobotoBold;
  src: url("../assets/_fonts/roboto-bold-webfont.woff"); }

*, *:before, *:after {
  box-sizing: inherit; }

.close {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 62px;
  overflow: hidden; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #4b4b4b; }
  .close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close.higher {
    top: -110px;
    right: -50px; }
  .close.lower {
    position: absolute;
    top: 350px; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

h1, p {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 82px;
  font-family: BebabsNeue, sans-serif;
  text-transform: uppercase;
  color: #4b4b4b; }
  @media screen and (max-width: 740px) {
    h1 {
      font-size: 64px; } }

p {
  font-size: 17px;
  font-family: RobotoBold;
  text-transform: uppercase;
  color: #4b4b4b; }

.header {
  height: 47px; }
  .header__social-media ul {
    margin: 0; }
    .header__social-media ul li {
      list-style-type: none;
      float: left;
      margin-right: 20px;
      padding-top: 12px; }
  .header__morse-image {
    float: right; }
    @media screen and (max-width: 936px) {
      .header__morse-image {
        display: none; } }

#main {
  background-image: url("../assets/images/background.jpg");
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #main .hidden {
    display: none !important; }
  #main .container {
    max-width: 760px;
    margin: 0 auto;
    padding-top: 96px; }
    #main .container__upper {
      padding: 0 30px 50px; }
      #main .container__upper h1 {
        float: left; }
      #main .container__upper img {
        padding: 15px 0 0 15px; }
        @media screen and (max-width: 740px) {
          #main .container__upper img {
            display: none; } }
      #main .container__upper p {
        clear: both; }
    #main .container__lower .translation {
      border-top: 8px solid #5c5c5c;
      border-bottom: 8px solid #5c5c5c;
      padding: 30px; }
      #main .container__lower .translation textarea {
        background: transparent;
        color: #5c5c5c;
        resize: none;
        border: 0 none;
        width: 78%;
        font-size: 82px;
        outline: none;
        font-family: BebabsNeue, sans-serif;
        display: inline-block; }
        @media screen and (max-width: 960px) {
          #main .container__lower .translation textarea {
            font-size: 64px; } }
      #main .container__lower .translation .translated-string {
        width: 78%;
        font-size: 82px;
        font-family: BebabsNeue, sans-serif;
        text-transform: uppercase;
        color: #4b4b4b;
        height: 184px;
        display: inline-block;
        word-wrap: break-word; }
        @media screen and (max-width: 960px) {
          #main .container__lower .translation .translated-string {
            font-size: 64px; } }
    #main .container .buttons {
      margin: 60px 30px; }
      #main .container .buttons ul {
        margin: 0;
        padding: 0; }
        #main .container .buttons ul li {
          list-style-type: none;
          height: 100px;
          display: inline-block;
          margin-right: 25px; }
      #main .container .buttons .button {
        background-color: #4b4b4b;
        color: #f6c500;
        padding: 25px;
        text-transform: uppercase;
        border: 0;
        font-family: BebabsNeueRegular;
        font-size: 30px;
        height: 100px;
        text-decoration: none; }
        @media screen and (max-width: 740px) {
          #main .container .buttons .button {
            font-size: 20px;
            padding: 17px; } }
